body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;    
    background-color: #1e1e1e;
    color: #cdcccc;
    margin: 0px;
}
header {
    background-color: #8b0000;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding-left: 5px;
    border: 2px solid #8b0000;
    border-radius: 0px 100px 0px 0px;
    width: 100%;
    z-index: 100;
}
footer {
    background-color: #8b0000;
    margin: 0px;
    padding-left: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 2px solid #8b0000;
    border-radius: 0px 0px 100px 0px;
}
main {
    position: absolute;
    top: 145px;
    padding: 5px;
}
a {
    color: #cdcccc;
}
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #8b0000;
    color: #cdcccc;    
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #cdcccc;
    color: #8b0000;
}
input[type="file"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #8b0000;
    color: #cdcccc;    
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
input[type=file]::file-selector-button {
  margin-right: 10px;
  border: none;
  background: #cdcccc;
  padding: 5px;
  border-radius: 5px;
  color: #8b0000;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover {
  background: #ffffff;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #555555;
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 100;
 }
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: medium;
    color: #cdcccc;
 }
.tab button:hover {
    background-color: #ddd;
    color: #1e1e1e;
  }
.tab button.active {
    background-color: #ccc;
    color: #1e1e1e;
}
.tabcontent {
    display: none;
    padding: 5px;
}
.subtab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #555555;    
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 126px;
 }
.subtab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: medium;
    color: #cdcccc;
 }
.subtab button:hover {
    background-color: #ddd;
    color: #1e1e1e;
  }
.subtab button.active {
    background-color: #ccc;
    color: #1e1e1e;
}
.subtabcontent {
    display: none; 
}
#marquepage {
    display: none;
}
.vert {
    background-color: green;
    color: white;
}
.jaune {
    background-color: yellow;
    color:#555555;
}
.orange {
    background-color: orange;
    color: white;
}
.rouge {
    background-color: red;
    color: white;
}
.noir {
    background-color: black;
    color: white;
}
table {
    border: none;
    border-collapse: collapse;
}
.matable {
    visibility: collapse;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #cdcccc;
    color: #cdcccc;
}
.matable td {
    border-collapse: collapse;
    border: 1px solid #cdcccc;
    padding: 5px;
    word-wrap: break-word;
}