body {
  margin: 10px auto;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: WhiteSmoke;
  font-size: medium;
}
#questionnaireqvt, #chargementqvtindividuel, #chargementqvtgroupe, #chargementqvtcollectif {
  padding: 5px;
  border: 1px solid whitesmoke;
  height: fit-content;
  max-width: 600px;
}
#questionnaireqvtindividuel {
  padding: 10px;
  max-width: 600px;
}
a {
  color: WhiteSmoke;
  text-decoration: underline;
}
button {
  background-color: darkred;
  color: WhiteSmoke;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}
.qradio:disabled, .iradio:disabled, .qtextarea:disabled, .itextarea:disabled {
  color: lightblue;
}
.top-tabs-container label.active, .sub-tabs-container label.active {
  background-color: WhiteSmoke;
  color: darkred;
}
.top-tabs-container label {
  background-color: darkred;
  color: WhiteSmoke;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  padding: 5px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}
.top-tabs-container label:hover {
  background-color: WhiteSmoke;
  color: darkred;
}
.tab-radio {
  display: none;
}
.sub-tab-content, .tab-content {
  display: none;
}
.tab-radio:checked + .tab-content {
  display: block;
}
.tab-radio:checked + .sub-tab-content {
  display: flex;
}
.sub-tabs-container {
  padding-bottom: 10px;
}
.sub-tabs-container label {
  background-color: darkred;
  color: WhiteSmoke;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  padding: 5px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
}
.sub-tabs-container label:hover {
  background-color: WhiteSmoke;
  color: darkred;
}
.tab-content {
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: WhiteSmoke;
}
.vert {
  background-color: green;
  color: WhiteSmoke;
  border-radius: 5px;
  padding: 5px;
}
.jaune {
  background-color: yellow;
  color:#555555;
  border-radius: 5px;
  padding: 5px;
}
.orange {
  background-color: orange;
  color: WhiteSmoke;
  border-radius: 5px;
  padding: 5px;
}
.rouge {
  background-color: red;
  color: WhiteSmoke;
  border-radius: 5px;
  padding: 5px;
}
.noir {
  background-color: black;
	border: 1px solid WhiteSmoke;
  color: WhiteSmoke;
  border-radius: 5px;
  padding: 5px;
}
.matable {
  border-collapse: collapse;
  border: 1px solid WhiteSmoke;
  color: WhiteSmoke;
}
.matable td {
  border-collapse: collapse;
  border: 1px solid WhiteSmoke;    
  word-wrap: break-word;
  padding: 10px;
}
.matable th {
  border-collapse: collapse;
  border: 1px solid WhiteSmoke;    
  word-wrap: break-word;
  font-size: large;
  text-align: center;
  padding: 10px;
}
footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
}