body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;    
    background-color: #1e1e1e;
    color: #cdcccc;
    margin: 0px;
    padding: 0px;    
}
button {
	cursor: pointer;
	background-color: #8b0000;
	color: #cdcccc;
	border: 2px solid #cdcccc;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: medium;
}
button:hover {
    background-color: #cdcccc;
    color: #8b0000;
}
button.clicked {
	background-color: #cdcccc;
	color: #8b0000;
}
#grid {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0;
	height: 100vh;
}
#header {
	grid-area: 1 / 1 / span 1 / span 1;
  	padding-left: 5px;
  	margin: 0px;
}
#footer {
	grid-area: 4 / 1 / span 1 / span 3;
  	padding-left: 5px;
  	margin: 0px;
	padding: 5px;
	background-color: #8b0000;
	height: fit-content;
}
#menus {
	grid-area: 1 / 2 / span 1 / span 1;
  	padding: 5px;	
}
#messages {
	grid-area: 1 / 3 / span 1 / span 1;
  	padding: 5px;
  	overflow-y:auto;
}
#questionnaire {
	grid-area: 2 / 1 / span 2 / span 1;
  	padding: 5px;
  	overflow-y: auto;
}
#graphiquek {
	grid-area: 2 / 2 / span 1 / span 1;
}
#graphiques {
	grid-area: 2 / 3 / span 1 / span 1;
}
#stats {
	grid-area: 3 / 2 / span 1 / span 1;
  	padding: 5px;
}
#recos {
	grid-area: 3 / 3 / span 1 / span 1;
  	padding: 5px;
}
.aproposdiv {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1e1e1e;
	color: #cdcccc;
	padding: 10px;
	border-radius: 10px;
	z-index: 1000;
}
.aproposdiv a {
	color: #cdcccc;
	text-decoration: underline;
}
.vert {
    background-color: green;
    color: white;
}
.jaune {
    background-color: yellow;
    color:#555555;
}
.orange {
    background-color: orange;
    color: white;
}
.rouge {
    background-color: red;
    color: white;
}
.noir {
    background-color: black;
    color: white;
}