body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;    
    background-color: #1e1e1e;
    color: #cdcccc;
    margin: 0px;
    padding: 0px;    
}
#grid {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0;  
}
#header {
	grid-area: 1 / 1 / span 1 / span 1;
	background-color: rgba(202,51,221, 0.5);
  	padding-left: 5px;
  	margin: 0px;
  	height: fit-content;
}
#footer {
	grid-area: 6 / 1 / span 1 / span 3;
	background-color: rgba(51,221,153, 0.5);
  	padding-left: 5px;
  	margin: 0px;
  	height: fit-content;
	padding: 5px;
}
#logo {
	grid-area: 1 / 2 / span 1 / span 1;
	background-color: rgba(77,119,247, 0.5);  
  	text-align: center;
  	margin: auto;
}
#menu {
	grid-area: 2 / 1 / span 1 / span 1;
	background-color: rgba(14,65,51, 0.5);
  	padding: 5px;
  	height: fit-content;
}
#sousmenu {
	grid-area: 3 / 1 / span 1 / span 1;
	background-color: rgba(106,90,47, 0.5);
  	padding: 5px;
  	height: fit-content;
}
#messages {
	grid-area: 1 / 3 / span 2 / span 1;
	background-color: rgba(236,55,14, 0.5);
  	padding: 5px;
  	overflow: scroll;
}
#stats {
	grid-area: 4 / 2 / span 1 / span 1;
	background-color: rgba(25,125,13, 0.5);
  	padding: 5px;
}
#recos {
	grid-area: 4 / 3 / span 1 / span 1;
	background-color: rgba(192,123,54, 0.5);
  	padding: 5px;
}
#questionnaire {
	grid-area: 4 / 1 / span 2 / span 1;
	background-color: rgba(130,241,28, 0.5);
  	padding: 5px;
  	overflow: scroll;
}
#graphiquek {
	grid-area: 5 / 2 / span 1 / span 1;
	background-color: rgba(219,203,77, 0.5);
}
#graphiques {
	grid-area: 5 / 3 / span 1 / span 1;
	background-color: rgba(173,45,198, 0.5);
}