body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #000000;
    color: #cdcccc;
    margin: 0px;
    padding: 0px;
	height: 100vh;
}
h1 {
	padding: 0px;
	margin: 0px;
}
button {
	cursor: pointer;
	background-color: #8b0000;
	color: #cdcccc;
	border: 2px solid #cdcccc;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: medium;
}
button:hover {
    background-color: #cdcccc;
    color: #8b0000;
}
button.clicked {
	background-color: #cdcccc;
	color: #8b0000;
}
#header {
	display: flex;
}
#logo {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}
#titre {
	padding-right: 30px;
	padding-bottom: 10px;
  	margin: 0px;
	height: fit-content;
	width: fit-content;
	background-color: #8b0000;
	border-radius: 0 0 50px 0;
}
#menu {
  	padding: 5px;
	height: fit-content;
	width: fit-content;
}
#sousmenu {
  	padding: 5px;
	height: fit-content;
	width: fit-content;
}
#contenu {
	display: flex;
}
#footer {	
  	padding-left: 5px;
  	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	text-align: right;	
}
#questionnaire {
  	padding: 30px;
  	overflow-y:auto;
	width: fit-content;
	max-width: 33%;
}
#graphique {
	width:fit-content;
	padding: 30px;
}
#stats {
  	padding: 5px;
	overflow-y:auto;
}
#recos {
  	padding: 30px;
	overflow-y:auto;
	max-width: 33%;
}
#recos a {
	color: #cdcccc;
	text-decoration: underline;
}
.aproposdiv {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1e1e1e;
	color: #cdcccc;
	padding: 10px;
	border-radius: 10px;
	z-index: 1000;
}
.aproposdiv a {
	color: #cdcccc;
	text-decoration: underline;
}
.vert {
    background-color: green;
    color: white;
}
.jaune {
    background-color: yellow;
    color:#555555;
}
.orange {
    background-color: orange;
    color: white;
}
.rouge {
    background-color: red;
    color: white;
}
.noir {
    background-color: black;
	border: 1px solid white;
    color: white;
	padding: 5px;
}